In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/MajorProject/Freelance Platform Projects.csv")

In [3]:
df.sample(5)

,Title,Category Name,Experience,Sub Category Name,Currency,Budget,Location,Freelancer Preferred From,Type,Date Posted,Description,Duration,Client Registration Date,Client City,Client Country,Client Currency,Client Job Title
4734,I need an animated explainer video,Design,Expert ($$$),Animation,GBP,300,remote,ALL,fixed_price,17-03-2023 12:54,We are looking to have an explainer video made...,NaN,15-03-2023,Liverpool,United Kingdom,GBP,Marketing Admin
9447,Need CD / Album Cover Art,"Video, Photo & Image",Entry ($),Image Editing,USD,40,remote,ALL,fixed_price,09-02-2023 03:08,I have a picture that I need to be corrected a...,less than 1 week,09-11-2016,Miami,United States,USD,Lil Boss Man
6637,Administrative Assistant (junior HR) / Remote,Business,Expert ($$$),Administration Assistance,GBP,167,remote,ALL,fixed_price,02-03-2023 14:42,Works as an integral part of the Human Resourc...,NaN,02-03-2023,London,United Kingdom,GBP,NaN
269,RIP and ROLL,Design,Expert ($$$),Graphic Design,GBP,88,remote,ALL,fixed_price,26-04-2023 13:46,We are looking for 2 cartoon style characters ...,NaN,23-10-2020,Cheltenham,United Kingdom,GBP,NaN
4883,Rear extension drawings,Design,Entry ($),Interior/Exterior Design,GBP,20,remote,ALL,fixed_price,16-03-2023 13:16,Hello \n\nI need someone to help me design and...,NaN,18-04-2016,Megara,Greece,GBP,Interior designer

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12222 entries, 0 to 12221
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      12222 non-null  object
 1   Category Name              12222 non-null  object
 2   Experience                 12222 non-null  object
 3   Sub Category Name          12222 non-null  object
 4   Currency                   12222 non-null  object
 5   Budget                     12222 non-null  int64
 6   Location                   12222 non-null  object
 7   Freelancer Preferred From  12222 non-null  object
 8   Type                       12222 non-null  object
 9   Date Posted                12222 non-null  object
 10  Description                12222 non-null  object
 11  Duration                   1602 non-null   object
 12  Client Registration Date   12222 non-null  object
 13  Client City                12222 non-null  object
 14  Client Country             12222 non-null  object
 15  Client Currency            12222 non-null  object
 16  Client Job Title           4588 non-null   object
dtypes: int64(1), object(16)
memory usage: 1.6+ MB

In [5]:
df.shape

(12222, 17)

## Data Cleaning

In [6]:
df = df.drop(columns=['Currency', 'Location', 'Freelancer Preferred From', 'Date Posted',
                      'Client Registration Date', 'Client City', 'Client Country', 'Client Job Title','Duration','Client Currency','Experience','Budget','Type','Description'])
print(df.shape)

(12222, 3)

In [7]:
df.shape

(12222, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12222 entries, 0 to 12221
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              12222 non-null  object
 1   Category Name      12222 non-null  object
 2   Sub Category Name  12222 non-null  object
dtypes: object(3)
memory usage: 286.6+ KB

In [9]:
df.sample(5)

,Title,Category Name,Sub Category Name
5788,Logo Design - Pet Health,Design,Logo Design
10220,Paid advertising support - please read before ...,Digital Marketing,"SEM, Adwords & PPC"
413,I need patterns made for a summer collection,Design,Fashion & Clothing
2003,Business Growth Development,Business,Management & Development
1361,Require a wordpress developer to get our JobAd...,Technology & Programming,Programming & Coding

In [10]:
df.duplicated().sum()

553

In [11]:
df = df.drop_duplicates()

In [12]:
df['Title']

0                    Banner images for web desgin websites
1                      Make my picture a solid silhouette
2                                        Bookkeeper needed
3                                       Accountant needed
4                            Guest Post on High DA Website
                               ...
12217    Published Travel Writer required for content c...
12218    Shopify - Filtering Work (Product Selection/No...
12219                                     Simple SQL Query
12220    Create a Carbon, Water, Waste Calculating plat...
12221                                    COMPANY REGISTERS
Name: Title, Length: 11669, dtype: object

In [13]:
df['Category Name']

0                          Design
1            Video, Photo & Image
2                        Business
3                        Business
4               Digital Marketing
                   ...
12217       Writing & Translation
12218                      Design
12219    Technology & Programming
12220                      Design
12221                    Business
Name: Category Name, Length: 11669, dtype: object

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ishav\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ishav\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
ps=PorterStemmer()

In [16]:
def cleaning(txt):
  cleaned_txt=re.sub(r'[^a-zA-Z0-9\s]','',txt)
  # remove all except numbers and words
  # word tokenization- all words in small letters
  tokens=nltk.word_tokenize(cleaned_txt.lower())
  # removing the stopwords-is this or loved love is love
  stemming=[ps.stem(word) for word in tokens if word not in stopwords.words('english')]

  return " ".join(stemming)

In [17]:
cleaning('i am isha who loves loving flowers loved by moving birds')

'isha love love flower love move bird'

In [18]:
df['Title']=df['Title'].apply(lambda x:cleaning(x))
df['Category Name']=df['Category Name'].apply(lambda x:cleaning(x))
df['Sub Category Name']=df['Sub Category Name'].apply(lambda x:cleaning(x))

In [19]:
df['new_col']=df['Title']+" "+df['Category Name']+" "+df['Sub Category Name']

In [20]:
df.head(3)

,Title,Category Name,Sub Category Name,new_col
0,banner imag web desgin websit,design,graphic design,banner imag web desgin websit design graphic d...
1,make pictur solid silhouett,video photo imag,imag edit,make pictur solid silhouett video photo imag i...
2,bookkeep need,busi,financ account,bookkeep need busi financ account

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [24]:
similarity

array([[1.        , 0.10060903, 0.        , ..., 0.        , 0.11182523,
        0.        ],
       [0.10060903, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.0783045 ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.11182523, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.0783045 , ..., 0.        , 0.        ,
        1.        ]])

In [25]:
def recommendation(title):
  idx=df[df['Title']==title].index[0]
  idx=df.index.get_loc(idx)
  distances = sorted(list(enumerate(similarity[idx])), key=lambda x: x[1], reverse=False)[1:20]

  project=[]
  for i in distances:
    project.append(df.iloc[i[0]].Title)
  return project

In [26]:
recommendation('banner imag web desgin websit')

['account need',
 'content databas project travel compani',
 '19 sentenc record nativ english speakerfemal',
 'show uicod text uniti text mesh pro',
 'develop platform auto fill function applic form',
 'look va research data entri',
 'mobil applic',
 'mobil anonym chat applic',
 'site handmad jewelleri assistantcr',
 'prepar ixbrl account',
 'virtual assist boutiqu execut search firm mac user',
 'mathematicianstatistician analys forex trade data',
 'need expert youtub',
 'need video appear 1st page googl',
 'look femal va',
 'facebook issu need resolv today need someon uk',
 'look busi captur insur renew date',
 'need one link io android app',
 'look market assist three busi']

In [27]:
import pickle
pickle.dump(df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))